@import "../../../styles/variables.scss";

.blog {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  &Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  &Left {
    width: 641px;
    & .author {
      display: flex;
      align-items: center;
      & .name {
        font-family: "Martel Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $white;
        margin: 0 10px 0;
      }
      & .date {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $border-gray;
      }
    }
    & .title {
      font-family: Oswald;
      font-weight: 600;
      font-size: 25px;
      line-height: 37.05px;
      color: $white;
      margin-bottom: 15px;
    }
    & .description {
      font-family: Martel Sans;
      font-weight: 400;
      font-size: 20px;
      color: $light-white;
      margin-bottom: 15px;
    }
  }
}
