@import "../../../../styles/variables.scss";

.title {
  font-family: Oswald, serif;
  font-weight: 500;
  font-size: 45px;
  color: $white;
}

.margin {
  margin-left: 115px;
}

.item {
  width: 300px;
  height: 300px;
  background: url(../../../../assets/images/carousel-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  &Top {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &Title {
    font-family: Oswald, serif;
    font-weight: 400;
    font-size: 23px;
    color: $white;
    background: linear-gradient(
      92.99deg,
      rgba(255, 255, 255, 0.3) 2.14%,
      rgba(255, 255, 255, 0.3) 48.18%,
      rgba(255, 255, 255, 0.3) 101.24%
    );
    border-radius: 20px;
    padding: 5px;
  }
  &Icon {
    width: "30px";
    height: "30px";
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  &Buttom {
    display: flex;
    justify-content: end;
    position: relative;
  }
}

.button {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: $white;
  background: $dark-blue;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
  transition: color 0.2s 0.02s easy;
  position: absolute;
  right: 44px;
  bottom: 30px;
  cursor: pointer;
  &:hover {
    color: $dark-blue;
    background: $light-brown;
  }
}
