/* @font-face {
  font-family: Oswald;
  src: url('./assets/fonts/Oswald-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url('./assets/fonts/Oswald-Medium.ttf') format('ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url('./assets/fonts/Oswald-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Material Sans;
  src: url('./assets/fonts/Material_Sans.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
} */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700;800;900&display=swap');

:root {
  --dark-blue: #1E2431;
  --white: #FCEEE3;
  --brown: #A97155;
  --light-brown: #D8AD83;
  --black: #000;
  --gray: #939393;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Oswald, sans-serif;
  background-color: var(--dark-blue);
}